Builder/Web References/UWAPI/InputController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://westonapi.utilitywizards.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://westonapi.utilitywizards.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://westonapi.utilitywizards.com/">
      <s:element name="GetApiKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UseSandboxDb" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApiKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApiKeyResult" type="tns:ApiKeyResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiKeyResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApiKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="tns:ApiResultCode" />
          <s:element minOccurs="0" maxOccurs="1" name="responseMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UseSandboxDb" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ApiResultCode">
        <s:restriction base="s:string">
          <s:enumeration value="success" />
          <s:enumeration value="failed" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:ApiRequest" />
            <s:element minOccurs="0" maxOccurs="1" name="fData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="deviceId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="deviceType" type="tns:UserPlatform" />
          <s:element minOccurs="1" maxOccurs="1" name="UseSandboxDb" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UserPlatform">
        <s:restriction base="s:string">
          <s:enumeration value="Unavailable" />
          <s:enumeration value="iPhone" />
          <s:enumeration value="iPod" />
          <s:enumeration value="iPad" />
          <s:enumeration value="AndroidPhone" />
          <s:enumeration value="AndroidTablet" />
          <s:enumeration value="WindowsPhone" />
          <s:enumeration value="Desktop" />
          <s:enumeration value="Api" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="tns:ApiResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="tns:ApiResultCode" />
          <s:element minOccurs="0" maxOccurs="1" name="responseMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="responseObject" />
          <s:element minOccurs="1" maxOccurs="1" name="UseSandboxDb" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetApiKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetApiKey" />
  </wsdl:message>
  <wsdl:message name="GetApiKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetApiKeyResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:portType name="InputControllerSoap">
    <wsdl:operation name="GetApiKey">
      <wsdl:input message="tns:GetApiKeySoapIn" />
      <wsdl:output message="tns:GetApiKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InputControllerSoap" type="tns:InputControllerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApiKey">
      <soap:operation soapAction="https://westonapi.utilitywizards.com/GetApiKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="https://westonapi.utilitywizards.com/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InputControllerSoap12" type="tns:InputControllerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApiKey">
      <soap12:operation soapAction="https://westonapi.utilitywizards.com/GetApiKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="https://westonapi.utilitywizards.com/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InputController">
    <wsdl:port name="InputControllerSoap" binding="tns:InputControllerSoap">
      <soap:address location="http://localhost:64940/InputController.asmx" />
    </wsdl:port>
    <wsdl:port name="InputControllerSoap12" binding="tns:InputControllerSoap12">
      <soap12:address location="http://localhost:64940/InputController.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>